# 大模型文件
models/
trained_model/
*.pth
*.pkl
*.safetensors
*.bin
*.pt
*.onnx
*.h5
*.msgpack
*.ot

# Python 编译文件
__pycache__/
*.py[cod]
*$py.class
*.so

# 分发/打包
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
svar/
wheels/
*.egg-info/
.installed.cfg
*.egg

# 虚拟环境
.env
.venv
env/
venv/
ENV/

# IDE 文件
.vscode/
.idea/
*.swp
*.swo
*~

# 系统文件
.DS_Store
Thumbs.db

# 日志文件
*.log
logs/

# 临时文件
tmp/
temp/
.cache/


# 实验输出文件
output_*/
*.png
picture/output/
picture/vis/